/* #region commons*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug {

    .sidebar {
        background-color: rebeccapurple;
    }

    .upgrade {
        background-color: green;
    }

    .play-bar {
        background-color: blue;
    }

    .content {
        background-color: black;
    }
}

:root {

    /* sizes variable */
    --height-header: 90px;
    --height-footer: 90px;
    --width-footer: 100vw;
    --width-sidebar: 50px;

    /*color variable*/

}

/* #endregion commons*/

/* #region utily*/

/* #endregion utily*/

/* #region main*/

.wrapper {
    display: flex;
}

.sidebar {
    width: var(--width-sidebar);
    height: calc(100vh - var(--height-footer));
}

.container {
    width: calc(100vw - var(--width-sidebar));
    height: calc(100vh - var(--height-footer));
}

.upgrade {
    height: var(--height-header);
    width: calc(100vw - var(--width-sidebar));
}

.content {
    height: calc(100vh - (var(--height-footer) + var(--height-header)));
    width: calc(100vw - var(--width-sidebar));
}

/* #endregion main*/

/* #region footer*/

.play-bar {
    height: var(--height-footer);
    width: var(--width-footer);
}

/* #endregion footer*/

/* #region responsive*/

@media screen and (min-width: 640px) {

    :root {

        --width-sidebar: 230px;
    }

}

/* #endregion responsive*/