/* #region import*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* #endregion import*/

/* #region commons*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
}

.debug {

    .sidebar {
        background-color: rebeccapurple;

        .up {
            min-height: 50px;
            background-color: white;
        }

        .down {
            min-height: 50px;
            background-color: yellow;
        }
    }

    .upgrade {
        background-color: green;
    }

    .play-bar {
        background-color: blue;
    }

    .content {
        background-color: black;

        .category {
            min-height: 100px;
            background-color: #e60505;
        }

        .recently {
            min-height: 100px;
            background-color: #60d037;
        }

        .crate-for {
            min-height: 100px;
            background-color: #2ba4c6;

        }

        .popular {
            min-height: 100px;
            background-color: #8d0297;

        }
    }
}

:root {

    /* sizes variable */
    --height-header: 90px;
    --height-footer: 90px;
    --width-footer: 100vw;
    --width-sidebar: 50px;

    /*color variable*/
    --sf-primary-lighter: #ffffff;
    --sf-primary-light: #77797e;
    --sf-primary-dark: #141922;
    --sf-primary-darker: #000000;
    --sf-secondary-light: #a3a3a3;
    --sf-secondary-dark: #282828;
    --sf-secondary-darker: #080b12;

}

/* #endregion commons*/

/* #region utily*/

.unstyle {
    list-style: none;
}

/* #endregion utily*/

/* #region main*/

.wrapper {
    display: flex;
}

.sidebar {
    width: var(--width-sidebar);
    height: calc(100vh - var(--height-footer));
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .up {
        width: 100%;

        .playlist {
            display: none;
        }
    }

    .down {
        width: 100%;

    }
}

/* end sidebar */

.container {
    width: calc(100vw - var(--width-sidebar));
    height: calc(100vh - var(--height-footer));
}

/* end container */


.upgrade {
    height: var(--height-header);
    width: calc(100vw - var(--width-sidebar));

    display: flex;
    justify-content: end;
    align-items: center;


}

/* end upgrade */


.content {
    height: calc(100vh - (var(--height-footer) + var(--height-header)));
    width: calc(100vw - var(--width-sidebar));
    overflow-y: auto;

    .category {}

    .recently {}

    .crate-for {}

    .popular {}
}

/* end content */


/* #endregion main*/

/* #region footer*/

.play-bar {
    height: var(--height-footer);
    width: var(--width-footer);

    display: flex;

    .left,
    .right {
        flex-grow: 1;
        max-width: 230px;
    }

    .center {
        flex-grow: 2;
        max-width: 980px;
    }

}

/* #endregion footer*/

/* #region responsive*/

@media screen and (min-width: 640px) {

    :root {

        --width-sidebar: 230px;
    }

    /* #region sidebar*/

    .sidebar {
        .up {
            .playlist {
                display: block;
            }
        }

    }

    /* #endregion sidebar*/


}

/* #endregion responsive*/