/* #region import*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* #endregion import*/

/* #region commons*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
    transition: all 500ms;
}

.debug {

    .sidebar {
        background-color: rebeccapurple;

        .up {
            min-height: 50px;
            background-color: white;
        }

        .down {
            min-height: 50px;
            background-color: yellow;
        }
    }

    .upgrade {
        background-color: green;
    }

    .content {
        background-color: black;

        .category {
            min-height: 100px;
            background-color: #e60505;
        }

        .recently {
            min-height: 100px;
            background-color: #60d037;
        }

        .crate-for {
            min-height: 100px;
            background-color: #2ba4c6;

        }

        .popular {
            min-height: 100px;
            background-color: #8d0297;

        }
    }

    .play-bar {
        background-color: blue;

        .left,
        .right {
            background-color: gray;
        }

        .center {
            background-color: burlywood;
        }
    }
}

:root {

    /* sizes variable */
    --height-header: 90px;
    --height-footer: 90px;
    --width-footer: 100vw;
    --width-sidebar: 50px;

    /*color variable*/
    --sf-primary-lighter: #ffffff;
    --sf-primary-light: #77797e;
    --sf-primary-dark: #141922;
    --sf-primary-darker: #000000;
    --sf-secondary-light: #a3a3a3;
    --sf-secondary-dark: #282828;
    --sf-secondary-darker: #080b12;

}

img {
    width: 100%;
}

/* #endregion commons*/

/* #region utily*/

.unstyle {
    list-style: none;
}

/* #endregion utily*/

/* #region main*/

.wrapper {
    display: flex;
}

.sidebar {
    width: var(--width-sidebar);
    height: calc(100vh - var(--height-footer));
    background-color: var(--sf-primary-darker);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--sf-secondary-light);
    overflow-y: auto;


    .up {
        width: 100%;

        .logo {
            text-align: center;
            padding: 0.2rem;

            img {
                width: 30px;
            }

            .logo-lg {
                display: none;
            }

        }

        .menu {
            max-height: 110px;

            li {
                width: 100%;

                .img {
                    padding-left: 0.7rem;
                    width: 40px;
                }

                span {
                    display: none;
                }
            }
        }

        .playlist {
            display: none;
        }
    }

    .down {
        width: 100%;
        max-height: 80px;

        span {
            display: none;
        }

        .install {
            text-align: center;
            padding: 0.5rem;

            img {
                width: 20px;
            }
        }

        .account {
            text-align: center;
            padding: 0.2rem;

            a {

                img {
                    background-color: var(--sf-primary-light);
                    border-radius: 50%;
                    width: 20px;
                }
            }
        }

    }
}

/* end sidebar */

.container {
    width: calc(100vw - var(--width-sidebar));
    height: calc(100vh - var(--height-footer));
}

/* end container */


.upgrade {
    height: var(--height-header);
    width: calc(100vw - var(--width-sidebar));

    display: flex;
    justify-content: end;
    align-items: center;


}

/* end upgrade */


.content {
    height: calc(100vh - (var(--height-footer) + var(--height-header)));
    width: calc(100vw - var(--width-sidebar));
    overflow-y: auto;

    .category {}

    .recently {}

    .crate-for {}

    .popular {}
}

/* end content */


/* #endregion main*/

/* #region footer*/

.play-bar {
    height: var(--height-footer);
    width: var(--width-footer);

    display: flex;

    .left,
    .right {
        flex-grow: 1;
        max-width: 230px;
    }

    .center {
        flex-grow: 2;
        max-width: 980px;
    }

}

/* #endregion footer*/

/* #region responsive*/

@media screen and (min-width: 600px) {

    :root {
        --width-sidebar: 230px;
    }

    /* #region sidebar*/

    .sidebar {

        .up {

            .logo {
                padding: 1rem;

                img {
                    width: 150px;
                }

                .logo-sm {
                    display: none;
                }

                .logo-lg {
                    display: block;
                }
            }

            .menu {

                li {
                    padding-left: 0.5rem;
                    padding-bottom: 0.2rem;

                    a {
                        display: flex;
                        align-items: center;
                        width: 100%;
                    }

                    span {
                        display: inline-block;
                        text-decoration: none;
                        color: var(--sf-secondary-light);
                        vertical-align: text-bottom;

                    }
                }
            }

            .playlist {
                display: block;
                padding-left: 1rem;

                h4 {
                    text-transform: uppercase;
                    color: var(--sf-primary-lighter);
                }

                li {
                    padding: 0.5rem 0;
                }

                li:first-child {
                    display: flex;
                    align-items: center;

                    i {
                        font-size: 50px;
                        padding-right: 0.5rem;
                    }
                }

            }
        }

    }

    /* #endregion sidebar*/


}

/* #endregion responsive*/